div:has(.wpm-counter):has(> [class^="cooldownWrapper"]) .wpm-counter {
  margin-left: 5px;
}
.wpm-counter {
  margin-right: 5px;
  flex-basis: fit-content;
  align-items: center;
  display: flex;
  margin-left: auto;
  right: 0px;
}
